@font-face {
    font-family: crimsontext;
    src: url(resources/fonts/Crimson_Text/);
}
#page_container {
    width: 1200px;
    margin: 0 auto;
}
nav {
    height:  100px;
    background-color: #1B4965;
    text-decoration: none;
}

ul {
    width: 1200px;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    text-align: center;
    overflow: hidden;
    
}
#logo img {
    width: 100px;
    position: fixed;
    padding: 10px 0px 10px 50px;
}

li {
    display: inline-block;
    padding: 40px;

}

li a {
    color: #F8F1E5;
    font-family: crimsontext;
    text-decoration: none;
    font-size: 16pt;
    font-weight: bold;

}

li a:hover {
    color: #C89F74;
    border-bottom: 2px solid #C89F74;
}

#current {
    border-bottom: 2px solid #F8F1E5;
}
