@font-face {
    font-family: crimsontext;
    src: url(resources/fonts/Crimson_Text/);
}
#page_container {
    width: 1200px;
    margin: 0 auto;
}
nav {
    height:  100px;
    background-color: #1B4965;
    text-decoration: none;
}

ul {
    width: 1200px;
    display: inline-block;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-left: 274px;
    
}
header {
    background-color: #1B4965;
    height: 175px;
}
header h1{
    color: #F8F1E5;
    font-family: crimsontext;
    text-align: center;
    background-color: #1B4965;
}
#logo img {
    padding-top: 10px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo img:hover{
    scale: 105%;
}

li {
    display: inline-block;
    padding-right: 200px;
    padding-top: 10px;

}   

li a {
    color: #F8F1E5;
    font-family: crimsontext;
    text-decoration: none;
    font-size: 20pt;
    font-weight: bold;

}

li a:hover {
    color: #C89F74;
    text-decoration: 2px underline  ;
    text-underline-offset: 3px;
}

#current {
    text-decoration: 2px underline;
    text-underline-offset: 3px;
}
