@font-face {
    font-family: crimsontext;
    src: url(resources/fonts/Crimson_Text/);
}
#page_container {
    width: 1200px;
    margin: 0 auto;
    background-color: #F1EAE0;
    font-family: crimsontext;
}

/* Styling for the Nav*/

#logo {
    float: left;
    width: 130px;
    padding-left: 75px;
    padding-top: 10px;
}

#logo img {
    width: 130px
}

nav {
    /*height:  100px;*/
    background-color: #1B4965;
    text-decoration: none;
}

nav ul {
    padding-left: 372px;
}

#logo img:hover {
    scale: 105%;
}

nav ul li {
    display: inline-block;
    padding: 40px;

}

nav ul li a {
    color: #F8F1E5;
    font-family: crimsontext;
    text-decoration: none;
    font-size: 18pt;
    font-weight: bold;
    padding-left: 50px;

}

nav ul li a:hover {
    color: #C89F74;
    text-decoration: 2px underline;
    text-underline-offset: 3px;
}

#current {
    text-decoration: 2px underline;
    text-underline-offset: 3px;
}

/* Styling for the Banner section*/
#banner_block{
    width: 1200px;
    height: 683px;
    background: black url(/resources/images/indexbannerimg.jpg) no-repeat center;
    background-size: cover;
    background-color: black;
    color: #F1EAE0;
    margin-top: -20px;
}

#banner{
text-align: center;
margin-left: -800px;
padding-top: 50px
}

#banner h1{
    text-decoration: underline #C89F74 3px;
    text-underline-offset: 10px;
    font-size: 30pt;
    margin-bottom: 0;
}

/* Styling for About Us Section*/

#about_us {
    text-align: center;
    background-image: linear-gradient(#5FA8D3, #F1EAE0);
    width: 650px;
    height: 500px;
    margin: 75px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

#about_us h1{
    font-size: 22pt;
    margin-bottom: 20px;
    
}

#about_us p{
    font-size: 18pt;
    margin-bottom: 20px;
    margin: auto;
}

/* Styling for the Cover image section */
#cover_section {
    margin: 50px auto;
    height: 600px;
}
.cover_image {
    width: 200px;
}

#orakei_wharf {
    float: left;
    background-color: #D6E6F2;
    margin-left: 250px;
    width: 300px;
}
#waiheke_island {
    float: left;
    background-color: #D6E6F2;
    margin-right: 250px;
    width: 300px;
}

#murrays_bay {
    float: left;
    background-color: #D6E6F2;
    margin-left: 250px;
}

#auckland_harbour {
    float: left;
    background-color: #D6E6F2;
}



/* Styling for the footer */
footer{
    background-color: #1B4965;
    height: 200px;
    color: #F8F1E5 ;
}

#footer_logo{
    float: left;
    padding: 32px 0px 0px 50px;
}

#footer_logo img {
    width: 200px;
}

#footer_logo img:hover{
    scale: 105%;
}

#navigation{
    float: left;
    padding-left: 200px;
}

#navigation h1{
    margin-bottom: 0px;

}

#navigation ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    display: inline;
}

#navigation li a {
    color: #F8F1E5;
    font-family: crimsontext;
    font-size: 18pt;
    text-decoration: none;
}

#navigation li a:hover {
    text-decoration: 2px underline;
    text-underline-offset: 3px;
}

#contact{
    float: left;
    padding-left: 150px;
    text-align: center;
}

#contact ul{
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
}

