@font-face {
    font-family: crimsontext;
    src: url(resources/fonts/Crimson_Text/);
}
#page_container {
    width: 1200px;
    margin: 0 auto;
    background-color: #F1EAE0;
    font-family: crimsontext;
}

#logo {
    float: left;
    width: 130px;
    padding-left: 75px;
    padding-top: 10px;
}

#logo img {
    width: 130px
}

nav {
    /*height:  100px;*/
    background-color: #1B4965;
    text-decoration: none;
}

nav ul {
    padding-left: 372px;
}

/*
nav ul {
    padding-left: 200px;
    width: 1200px;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    text-align: center;
    overflow: hidden;
    padding-left: 80px;
}*/
    

/*
#logo img {
    width: 100px;
    padding: 15px 0px 10px 165px;
}*/

#logo img:hover {
    scale: 105%;
}

nav ul li {
    display: inline-block;
    padding: 40px;

}

nav ul li a {
    color: #F8F1E5;
    font-family: crimsontext;
    text-decoration: none;
    font-size: 18pt;
    font-weight: bold;
    padding-left: 50px;

}

nav ul li a:hover {
    color: #C89F74;
    text-decoration: 2px underline;
    text-underline-offset: 3px;
}

#current {
    text-decoration: 2px underline;
    text-underline-offset: 3px;
}

section{
    height: 300px;
}

footer{
    background-color: #1B4965;
    height: 150px;
    color: #F8F1E5 ;
}
footer h1{
    font-size: 16pt;
}

#footer_logo{
    float: left;
    margin: 25px 0px 0px 60px;
}

#footer_logo img {
    width: 150px;
}

#footer_logo img:hover{
    scale: 105%;
}

#navigation{
    float: left;
    margin-left: 200px;
    text-align: center;
    margin-top: 5px;
}

#navigation ul {
    list-style-type: none;
    overflow: hidden;
}

#navigation li a {
    color: #F8F1E5;
    font-family: crimsontext;
    font-size: 14pt;
    text-decoration: none;
    margin-left: -40px;
}
#navigation li a:hover {
    text-decoration: 2px underline;
    text-underline-offset: 3px;
}

#contact{
    float: left;
    margin-left: 150px;
    text-align: center;
    margin-top: 5px;
}

#contact ul{
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
}

